div {
    display: flex;
    margin: 4px;
    padding: 4px;
}

.outerBox {
  flex-direction: column;
  border-style: dotted;
  border-width: 1px;
  width: 700px;
  margin-top: 20px;
}

.innerBox {
  justify-content: left;
}

.infoColumn {
  flex-direction: column;
  border-style: dotted;
  border-width: 1px;
  width: 300px;
  margin-right: 20px;
}

.lowestRow {
  justify-content: space-between;
}

img {
  height: 30%;
  width: 30%;
}